<!--- rocketdodgegame.com --->
<!--- https://github.com/DBC201/rocket_dodge_server --->
<!DOCTYPE html>
<html>

<%- include('header'); -%>

<head>
        <title>Profile</title>
</head>

<body>
        <%- include('navbar'); -%>
        <div class="container">
                <br>
                <h2>Personal High Scores</h2>
                <br>
                <table class="table">
                        <thead>
                                <tr>
                                        <th scope="col">Game</th>
                                        <th scope="col">PC</th>
                                        <th scope="col">Mobile</th>
                                </tr>
                        </thead>
                        <% for (var i = 0; i < score_table.length; i++) { %>
                        <tr>
                                <td scope="row"><a href = "/score/high_scores/<%= score_table[i][0] %>"><%= names[score_table[i][0]] %></a></td>
                                <% for (var j = 1; j < score_table.length; j++) { %>
                                <td><%= score_table[i][j] %></td>
                                <% } %>
                        </tr>
                        <% } %>
                </table>
                <br>
                <br>
                <a href="/account/change_password">Change password</a>
                <br>
                <br>
                <a href="/account/logout">Logout</a>
                <br>
                <br>
                <a class="text-danger" href="/account/delete_account" ,
                        onclick="return confirm('Do you really want to delete your account?')">Delete
                        Account</a>
        </div>
</body>

</html>